All Contacts for <strong><%= @company.name %></strong>

<% @company.contacts.each do |contact| %>
  <ul class="contact">
    <li><%= contact.full_name %></li>
    <li><%= contact.position %></li>
    <li><%= contact.email %></li>
<% end %>
</ul>
