All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul><%= job.title %></ul>
<% end %>
<h3>Contacts</h3>
<%= render partial: 'company/contact', collection: @company.contacts.reverse %>
<%= render partial: 'contacts/form' %>
