<h1> <%= @category.title %> Jobs Listed Below</h1>

<div class="row">
  <div class="col-xs-6">
    <ul><% @category.jobs.each do |job| %>
      <li class="Jobs"><%= job.title %></li>
      <% end %>
    </ul>
  </div>
</div>
