<h1> <%= @category.title %> Jobs Listed Below</h1>

<div class="row">
  <div class="col-xs-6">
  <div><% @category.jobs.each do |job| %>
    <td><%= link_to "#{job.title}", company_job_path(job.company_id, job.id), class: 'btn btn-primary btn-lg' %></td>
      <% end %>
    </div>
  </div>
</div>
